{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
{% translate 'Friends' %}
{% endblock title %}

{% block content %}
<div class="container my-lg-2">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2">
      <div class="card-body shadow-sm holder-bottom">
        <p class="fw-light mb-2"><a href="{% url 'user_profile' %}" class="text-reset">{% translate 'My profile' %}</a>
        </p>
        <p class="fw-light mb-2"><a href="{% url 'friends_list' %}" class="text-reset">{% translate 'Friends' %}</a></p>
      </div>
    </div>
    <div class="col">

      {% for friend in friends %}
      <div class="card-body shadow-sm holder-bottom">
        <div class="row">
          <div class="col-2">
            <img src="{{ friend.avatar.url }}" class="rounded mx-auto d-block mb-2" width="70" height="70">
          </div>
          <div class="col-4">
            {% if friend.first_name and friend.last_name %}
              <p class="fs-5 mb-2">{{ friend.first_name }} {{ friend.last_name }}</p>
            {% else %}
              <p class="fs-5 mb-2">{{ friend.username }}</p>
            {% endif %}
            {% if friend.bio %}
              <p class="text-muted fw-light">{{ friend.bio }} </p>
            {% endif %}
          </div>
          <div class="col-3 col align-self-center d-grid gap-2">
            <button class="btn btn-outline-primary" type="submit">{% translate 'Send messages' %}</button>
          </div>
          <div class="col-3 col align-self-center d-grid gap-2">
            <button class="btn btn-outline-danger" type="submit">{% translate 'Remove from friends' %}</button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}