{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
{{ obj.first_name}} {{ obj.last_name}}
{% endblock title %}

{% block content %}
<div class="container my-lg-2">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2">
      <div class="card-body shadow-sm holder-bottom">
        <p class="fw-light mb-2"><a href="{% url 'user_profile' %}" class="text-reset">{% translate 'My profile' %}</a></p>
        <p class="fw-light mb-2"><a href="{% url 'friends_list' %}" class="text-reset">{% translate 'Friends' %}</a></p>
        <p class="fw-light mb-2"><a href="{% url 'posts' %}" class="text-reset">{% translate 'Posts' %}</a></p>
      </div>
    </div>

    <div class="col-6">
      <div class="card-body shadow-sm holder-bottom mb-3">
        <div class="row">
          <div class="col">
            <img src="{{ obj.avatar.url }}" class="rounded mx-auto d-block mb-2" width="170" height="170">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal">{% translate 'Send messages' %}</button>
            </div>
          </div>
          <div class="col-8">
            {% if obj.first_name and obj.last_name %}
              <p class="fs-4 mb-1">{{ obj.first_name }} {{ obj.last_name }}</p>
            {% else %}
              <p class="fs-4">{{ obj.username }}</p>
            {% endif %}

            {% if obj.bio %}
              <p class="text-muted fw-light">{{ obj.bio }} </p>
            {% endif %}
            <hr class="my-3">

            {% if obj.country and obj.city %}
              <p class="fw-light mb-2">{% translate 'Location' %}: {{ obj.city }}, {{ obj.country }}</p>
            {% elif obj.country %}
              <p class="fw-light mb-2">{% translate 'Location' %}: {{ obj.country }}</p>
            {% elif obj.city %}
              <p class="fw-light mb-2">{% translate 'Location' %}: {{ obj.city }}</p>
            {% endif %}

            {% if obj.birth_date %}
              <p class="fw-light mb-2">{% translate 'Birth date' %}: {{ obj.birth_date }}</p>
            {% endif %}

            {% if obj.phone %}
              <p class="fw-light mb-2">{% translate 'Phone' %}: {{ obj.phone }}</p>
            {% endif %}
          </div>
        </div>
      </div>

      {% if posts %}
        {% for post in posts %}
          <div class="card mb-3">
            <div class="card-header">
              <div class="row">
                <div class="col align-self-center">
                  <img src="{{ obj.avatar.url }}" class="rounded-circle float-start me-2" width="20" height="20">
                  {{ obj.first_name }} {{ obj.last_name }} - {{ post.date_created }}
                </div>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">{{ post.content }}</p>
              <p class="card-text"><small class="text-muted">Last updated {{ post.date_updated|timesince }} ago</small></p>
              <hr>
              <div class="row">
                <div class="col-6 d-grid gap-2 align-self-center">
                  <button type="button" class="btn btn-outline-secondary btn-sm"><i class="bi bi-chat-right"></i> {% translate 'Comments' %}</button>
                </div>
                <div class="col-3 d-grid gap-2 align-self-center">
                  <button type="button" class="btn btn-outline-secondary btn-sm"><i class="bi bi-hand-thumbs-up"></i> {% translate 'Like' %}</button>
                </div>
                <div class="col-3 d-grid gap-2 align-self-center">
                  <button type="button" class="btn btn-outline-secondary btn-sm"><i class="bi bi-hand-thumbs-down"></i> {% translate 'Unlike' %}</button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-3"></div>
  </div>
</div>
{% endblock content %}