{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% translate 'Password changed' %}
{% endblock title%}

{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-4 text-center">
    <h2 class="mb-4 fw-normal">{% translate 'Your password has been successfully changed' %}</h2>
    <hr class="my-3">
    <a class="w-100 btn btn-lg btn-outline-primary" role="button" href="{% url 'user_profile' %}">{% translate 'Back to profile' %}</a>
  </div>
</div>
{% endblock content %}