{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% translate 'Password reset complete' %}
{% endblock title %}

{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-4 text-center">
    <h2 class="mb-4 fw-normal">{% translate 'Password reset complete' %}</h2>
    <p>{% translate 'Your new password has been set. You may go ahead and log in now.' %}</p>
    <hr class="my-3">
    <a class="w-100 btn btn-lg btn-outline-primary" role="button" href="{% url 'login' %}">{% translate 'Log In' %}</a>
  </div>
</div>
{% endblock content %}