{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% translate 'Change password' %}
{% endblock title%}

{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-4 text-center">
    <h1 class="h2 mb-4 fw-normal">{% translate 'Change you password' %}</h1>
    <p>{% translate 'Use the form below to change your password' %}.</p>
    <div class="form-group">
      <form method="POST">
        {% csrf_token %}
        {% for field in form %}
          <div class="mb-3">
            <input type="password" class="form-control" name="{{ field.name }}" placeholder="{% translate field.label %}" required>
          </div>
        {% endfor %}
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <div class="text-danger text-start mb-2" role="alert">{{ error|escape }}</div>
            {% endfor %}
          {% endfor %}
        {% endif %}
        <hr class="my-3">
        <div class="mb-3">
          <button class="w-100 btn btn-lg btn-primary" type="submit">{% translate 'Change password' %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}