{% extends 'base.html' %}

{% load i18n %}

{% block title %}
{% translate 'Account remove' %}
{% endblock title %}

{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-4 text-center">
    <h2 class="mb-4 fw-normal">{% translate 'Do you want to remove account?' %}</h2>
    <p>{% translate 'All your personal data will be deleted.' %}</p>
    <form method="POST">
      {% csrf_token %}
      {% for message in messages %}
        <div class="alert alert-info mb-3 text-center" role="alert">
          {{ message }}
          {% translate 'Create' %} <a href="{% url 'register' %}" class="alert-link">{% translate 'new account.' %}</a>
        </div>
      {% endfor %}
      <hr class="my-3">
      <button class="btn btn-outline-danger" type="submit">{% translate 'Remove account' %}</button>
      <a href="{% url 'user_profile' %}" class="btn btn-outline-primary" role="button" aria-disabled="true">{% translate 'Leave this page' %}</a>
    </form>
  </div>
</div>
{% endblock content %}