{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="col-1"></div>
    <span class="navbar-brand">Social Network</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
     <form class="d-flex" action="{% url 'search_users' %}" method="POST">
        {% csrf_token %}
        <input class="form-control me-2" name="searched_users" type="search" placeholder="{% translate 'Search Users' %}" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">{% translate 'Find' %}</button>
      </form>
      {% if user.is_authenticated %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ user.username }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item fw-light" href="{% url 'user_profile' %}">{% translate 'My profile' %}</a></li>
          <li><a class="dropdown-item fw-light" href="{% url 'edit_profile' %}">{% translate 'Edit profile' %}</a></li>
          <!-- Button trigger modal -->
          <li><a class="dropdown-item fw-light" data-bs-toggle="modal" data-bs-target="#Security">{% translate 'Security' %}</a></li>
          <li><a class="dropdown-item fw-light" href="{% url 'logout' %}">{% translate 'Sign Out' %}</a></li>
        </ul>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="Security" tabindex="-1" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <p class="fs-5 modal-title">{% translate 'Profile Security' %}</p>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="list-group">
                  <a href="{% url 'password_change' %}" class="list-group-item list-group-item-action">{% translate 'Change password' %}</a>
                  <a href="{% url 'export_personal_data' %}" class="list-group-item list-group-item-action">{% translate 'Export your personal data' %}</a>
                  <a href="{% url 'remove_account' %}" class="list-group-item list-group-item-action">{% translate 'Remove account' %}</a>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{% translate 'Close' %}</button>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="col-1"></div>
  </div>
</nav>
